<style>
    th,
    td {
        padding: 10px;
    }
    th {
        text-align: right;
    }
</style>
<h1>Task Created or Modified</h1>
<table>
    <tbody>
    <tr>
        <th>Name:</th>
        <td>{{ task.name }}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{ task.email }}</td>
    </tr>
    <tr>
        <th>Password :</th>
        <td>{{ task.password }}</td>
    </tr>
    </tbody>
</table>
<br />